<h1>Account: <%= @account.name %></h1>

<h1>Account number: <%= @account.account_number %></h1>

<h1>Bank: <%= @account.bank_name %></h1>

<h1>Currency: <%= @account.currency %></h1>

<h1>Balance: <%= @account.show_balance %></h1>

<%= link_to "Edit", edit_account_path(@account) %> - 
<%= link_to "Destroy", account_path(@account), data: {
	turbo_method: :delete,
	turbo_confirm: "Are you sure?"
} %>
<%= link_to "Go back to accounts", accounts_path %>

<h2>Transactions</h2>
<% @account.transactions.each do |transaction| %>
	Transaction #<%= transaction.id %>
	Amount: <%= transaction.amount %> - 
	Type: <%= transaction.show_transaction_type %><br>
<% end %>

<h2>Registrar a transaction</h2>
<%= form_with model: [ @account, @account.transactions.build ] do |form| %>
	<p>
		<%= form.label :amount %>
		<%= form.number_field :amount %>
	</p>
	<p>
		<%= form.label :transaction_type %>
		<%= form.number_field :transaction_type %>
	</p>
	<p>
		<%= form.submit %>
	</p>
<% end %>